body{
    margin: 0PX;
    padding: 0PX;
    background-image: url(img/istockphoto-1163778500-612x612.jpg);
    background-size: cover;
    
}

.tela{
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 270px;
    height: 330px;
    backdrop-filter: blur(200px);
    background: transparent;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.322);
    padding: 10px;
    border: #07476485 solid 1px;
}
#monitor{
width: 250px;
height: 38px;
background-color: #fff;
border: solid #0747649f 1px;
display: flex;
justify-content: right;
border-radius: 10px;
font-size: 20px;
font-weight: bold;
padding: 10px;
font-family:  'Arial Narrow Bold', sans-serif;
}
.bt-group{
margin-top: 20px;
display: table;
background-color: transparent;
width: 100%;
justify-content: right;
border-radius: 10px;
}
.bt{
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
    background-color: #fff;
    border-radius: 7px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    font-family:'Arial Narrow Bold', sans-serif;
    border: #07476491 solid 1px;
}
.linha{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
p{
    margin-top: 10px;
}
.operador{
    background-color: #074764;
    color: #fff;
}
